﻿.editor {
    background-color:white;
    min-height:200px;
    max-width: 265px;
}
.editor-buttons {
    padding:7px;
}
    .editor-buttons button {
        width: 32px;
        height: 25px;
    }

#titleEditor {
    max-width: 265px;
    min-width: 265px;
}
