﻿.langSelect {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: cadetblue;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 80px;
    max-width: 150px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid #007E33;
    border-radius: .5em;
    background-color: white;
    float: right;
}
.langPos {
    float: right;
    right: 30px;
}

    .langSelect::-ms-expand {
        display: none;

    }

    .langSelect:hover {
        border-color: #007E33;
        
    }

    .langSelect:focus {
        border-color: #007E33;
        box-shadow: 0 0 1px 3px cadetblue;
        box-shadow: 0 0 0 3px ;
        color: #007E33;
        outline: none;
        
    }

    .langSelect option {
        font-weight: normal;
        
    }
        .langSelect option:hover {
            background-color: cadetblue;
            border-color: #007E33;
        }

span{
    display:block;
}
