﻿@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic);

* {
    box-sizing: border-box;
}


html {
    font-size: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    color: #333;
    font: 1em 'Open Sans', sans-serif;
    background-color: #f1f1f1;
}


main {
    max-width: 1024px;
    margin: 0 auto
}

article {
    margin: 5px;
    padding: 25px;   
   
}
    article .ArticleText {
        border: 2px solid;
        border-color: cadetblue;
        margin: 5px;
        padding: 15px;
    }

header {
    margin: 0;
    padding: 0;
    text-align: right;
    border-bottom: 5px groove;
    border-color: cadetblue;
}


   

@media screen and (min-width: 320px) {
    html,
    body {
        margin: 0;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 320px) {
    html,
    body {
        margin: 0;
        overflow-x: hidden;
    }

    .sidenav {
        width: 100%;
        box-shadow: none
    }
}



.btnOk {
    border: 2px solid black;
    border-radius: 5px;
    border-color: darkcyan;
    color: cadetblue;
    font-weight: bold;
    padding: 14px 28px;
    margin:10px;
    font-size: 16px;
    cursor: pointer;
}
    .btnOk:hover {
        background-color: cadetblue;
        color: white;
    }

.btnOpen {
    display: inline;
    margin-top: 10px;
    height: 35px;
    width: 35px;
    background-color: #16a085;
    color: black;
    font-weight: bold;
    border: none;
    vertical-align:central;
    cursor:pointer;
}
.sidenav {
    height: 100%; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: -320px;
    background-color: #16a085;
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
    box-shadow: 4px 0px 20px 0px rgba(0,0,0, 0.5);
    -moz-box-shadow: 4px 0px 20px 0px rgba(0,0,0, 0.5);
    -webkit-box-shadow: 4px 0px 20px 0px rgba(0,0,0, 0.5);
    overflow-y: auto;
    padding: 10px;
    display: flex;
}
.divnav {
    height: 100%;
    display: inline-flex;
    position: relative;
}
header {
    display: inline-flex;
    position: relative;
    width: 100%;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration:none;
    color:black;
}



.ArticleImg {
    width: 200px;
    height: 150px;
    object-fit: cover;
}